@import url('https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap');

@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;




*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.bg-image-home {
  background-image: url('./assets/imgs/DSC_0060_1024x1024.webp');
  background-size:  100% 138%;
  background-position: center;
  background-repeat: no-repeat;
 
}



.bg-login {
  background-image: url('./assets/imgs/photo-1558961363-fa8fdf82db35.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


.bg-home2 {
  /* background-image: url('./assets/imgs/photo-1558961363-fa8fdf82db35.avif'); */
  background-color: blue;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}